In [1]:
import json

## Movielens 100k dataset

In [2]:
!wget "https://files.grouplens.org/datasets/movielens/ml-100k/u.data"

--2023-04-20 04:24:54--  https://files.grouplens.org/datasets/movielens/ml-100k/u.data
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1979173 (1.9M)
Saving to: ‘u.data’

u.data              100%[===================>]   1.89M  1.31MB/s    in 1.4s

2023-04-20 04:24:58 (1.31 MB/s) - ‘u.data’ saved [1979173/1979173]

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("u.data",delimiter="\t",header=None,names=["user","item","rating","timestamp"])

In [5]:
df.head()

   user  item  rating  timestamp
0   196   242       3  881250949
1   186   302       3  891717742
2    22   377       1  878887116
3   244    51       2  880606923
4   166   346       1  886397596

In [6]:
df.shape

(100000, 4)

In [7]:
df.to_csv('data/ml100k.csv',index=False)

## Movietweet

In [8]:
!wget https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat

--2023-04-20 04:38:10--  https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27615971 (26M) [text/plain]
Saving to: ‘ratings.dat’

ratings.dat         100%[===================>]  26.34M   117MB/s    in 0.2s

2023-04-20 04:39:16 (117 MB/s) - ‘ratings.dat’ saved [27615971/27615971]

In [9]:
df = pd.read_csv("ratings.dat",delimiter="::",header=None,names=["user","item","rating","timestamp"])

/tmp/ipykernel_4859/1865087680.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("ratings.dat",delimiter="::",header=None,names=["user","item","rating","timestamp"])

In [10]:
df.head()

   user     item  rating   timestamp
0     1   114508       8  1381006850
1     2   499549       9  1376753198
2     2  1305591       8  1376742507
3     2  1428538       1  1371307089
4     3    75314       1  1595468524

In [11]:
df.shape

(921398, 4)

In [12]:
df.to_csv("data/movietweet.csv",index=False)

## MovieLens 1M

In [13]:
!wget "https://files.grouplens.org/datasets/movielens/ml-1m.zip"

--2023-04-20 04:43:21--  https://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip’

ml-1m.zip           100%[===================>]   5.64M  3.07MB/s    in 1.8s

2023-04-20 04:43:24 (3.07 MB/s) - ‘ml-1m.zip’ saved [5917549/5917549]

In [14]:
!unzip -q ml-1m.zip

In [15]:
df = pd.read_csv("ml-1m/ratings.dat",delimiter="::",header=None,names=["user","item","rating","timestamp"])

/tmp/ipykernel_4859/2033094733.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("ml-1m/ratings.dat",delimiter="::",header=None,names=["user","item","rating","timestamp"])

In [16]:
df.to_csv("data/ml1m.csv",index=False)